* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #252525;
}

header {
    background-color: black;
    color: red;
}

.container {
    width: 75%;
    margin: auto;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    flex-basis: calc(25% - 2rem);
    padding: 1rem;
    border: 1px solid white;
    margin: 1rem;
    color: white;
}

.card h3, p:not(:last-child) {
    padding-bottom: 0.5rem;
}

.card img {
    width: 25px;
    vertical-align: bottom;
}

.card i {
    color: rgb(255, 230, 0);
}

.cover {
    padding: 0;
    border: 0;
}

.cover img {
    width: 100%;
}
