<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolflix</title>
        <!-- File CSS -->
        <link rel="stylesheet" href="./assets/css/style.css">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <!--  AXIOS CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <!-- Vue CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>

        <div id="app">

            <header>

                <div class="container flex_between">
                    <div class="logo">
                        <h1>BOOLFLIX</h1>
                    </div>
                    <div class="search">
                        <form @submit.prevent="cercaFilm">
                            <input type="text" placeholder="Inserisci film da cercare" v-model="searchString">
                            <button id="btn_search" type="submit">Cerca</button>
                        </form>
                    </div>
                </div>
                <!-- Container -->

            </header>
            <!-- /Header -->

            <main>

                <div class="container flex_wrap">
                    <div class="card" v-for="film in films">
                        <h3>{{film.title}}</h3>
                        <p>Titolo originale: {{film.original_title}}</p>
                        <p v-if="(film.original_language == 'en')">Lingua: <img src="./assets/img/en.png" alt=""></p>
                        <p v-if="(film.original_language == 'it')">Lingua: <img src="./assets/img/it.png" alt=""></p>
                        <p v-if="(film.original_language == 'fr')">Lingua: <img src="./assets/img/fr.png" alt=""></p>
                        <p v-if="(film.original_language == 'de')">Lingua: <img src="./assets/img/de.png" alt=""></p>
                        <p v-if="(film.original_language == 'es')">Lingua: <img src="./assets/img/es.png" alt=""></p>
                        <p v-if="film.vote_average == 0">Voto: 0</p>
                        <p v-else>Voto: <span v-for="(number, index) in Math.ceil(film.vote_average/2)"><i class="fas fa-star"></i></span></p>
                    </div>
                    <!-- /Card -->
                    
                    <div class="card" v-for="tvSerie in tvSeries">
                        <h3>{{tvSerie.name}}</h3>
                        <p>Titolo originale: {{tvSerie.original_name}}</p>
                        <p v-if="(tvSerie.original_language == 'en')">Lingua: <img src="./assets/img/en.png" alt=""></p>
                        <p v-if="(tvSerie.original_language == 'it')">Lingua: <img src="./assets/img/it.png" alt=""></p>
                        <p v-if="(tvSerie.original_language == 'fr')">Lingua: <img src="./assets/img/fr.png" alt=""></p>
                        <p v-if="(tvSerie.original_language == 'de')">Lingua: <img src="./assets/img/de.png" alt=""></p>
                        <p v-if="(tvSerie.original_language == 'es')">Lingua: <img src="./assets/img/es.png" alt=""></p>tvSerie
                        <p v-if="tvSerie.vote_average == 0">Voto: 0</p>
                        <p v-else>Voto: <span v-for="(number, index) in Math.ceil(tvSerie.vote_average/2)"><i class="fas fa-star"></i></span></p>
                    </div>
                    <!-- /Card -->

                </div>
                <!-- /Container -->

            </main>
            <!-- /Main -->


        </div>
        <!-- /App -->
    

        
        <script src="./assets/js/main.js"></script>
    </body>
</html>